{{#each deployments}}
<li class="deployment {{this._status}} {{this.deployment_id}}" id="{{this._modifiedTime}}">
  <div onclick="$('#{{this.deployment_id}}').toggleClass('hidden');">
    <div class="environment"><span class="title">Environment: </span>{{this.objective.target}}</div>
    <div class="lastUpdate"><span class="title">Last Updated: </span>{{this._modifiedTimeStamp}}</div>
    <div class="status"><span class="title">Status:</span> <span class="capitalize">{{this._status}}</span></div>
    <ol class="components">
      <li class="component header">
        <div class="component paramName">Parameter(s)</div>
        <div class="component paramDesc">Description</div>
        <div class="component paramArtifact">Artifact ID</div>
      </li>
      {{#each this.components}}
      <li class="component">
        <div class="component paramName">{{this.parameter}}</div>
        <div class="component paramDesc">{{this.description}}</div>
        <div class="component paramArtifact">{{this.artifact}}</div>
      </li>
      {{/each}}
    </ol>
  </div>
  <div class="moreInfo hidden" id="{{this.deployment_id}}">
    <div class="deployment_id"><span class="title">Deployment ID: </span>{{this.deployment_id}}</div>
    <div class="stackInfo"><span class="title">Stack #: </span>{{this.stackInfo}}</div>
    <div class="startTime"><span class="title">Start time: </span>{{this._createdTimeStamp}}</div>
    <div class="endTime"><span class="title">End time: </span>{{this._endTimeStamp}}</div>
  </div>
</li>
{{/each}}
